:root {
  font-family: 'IBM Plex Sans', sans-serif;
  --grey: #f9f9f9;
  --paint: #784ca5;
  --worklets: #F4B766;
  --typed: #44A384;
  --props: #AF499C;
  --paint: #784ca5;
  --animation: #CBE961;
  --layout: #F4EC66;
  --black: #272822; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  --shadow-color: #f9f9f9;
  padding: 0;
  margin: 0;
  color: #272822;
  line-height: 1.5; }

.paint {
  --prime-color: #784ca5; }

.worklets {
  --prime-color: #F4B766; }

.props {
  --prime-color: #AF499C; }

.animation {
  --prime-color: #CBE961; }

h1 {
  font-size: calc(2em + 7vh);
  padding: .25rem; }

h2, h3, h4 {
  line-height: 1;
  padding: 0;
  margin: 0; }

header {
  height: 25vh;
  min-height: 5em;
  width: 100vw;
  /*padding: .5em;*/ }

blockquote {
  margin: 0;
  padding: 0; }
  blockquote > p {
    margin: 0;
    padding: 0; }

.container {
  font-size: 1.25em;
  line-height: 1.618;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1em 2em; }

code {
  font-family: 'IBM Plex Mono', monospace; }

p code,
li code,
dd code:not([class*='language-']) {
  font-size: .85rem;
  padding: .2rem .4rem;
  background-color: #e9e9e9;
  border-radius: 2px; }

dd pre[class*='language-'] {
  font-size: 1rem; }

nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0; }
  nav ul li {
    padding: .25em .125em; }

p a,
cite a,
nav a {
  font-style: italic;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #272822;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 .20em;
  font-size: 1em;
  transition: color .5s, text-shadow .5s;
  transition-delay: 0;
  text-shadow: 1px 1px var(--shadow-color), -1px -1px var(--shadow-color), 1px -1px var(--shadow-color), -1px 1px var(--shadow-color);
  z-index: 0; }
  p a::before, p a::after,
  cite a::before,
  cite a::after,
  nav a::before,
  nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: transform .3s ease-out;
    z-index: 0; }
  p a::before,
  cite a::before,
  nav a::before {
    border-top: 2px solid black;
    background: transparent;
    transition-delay: .2s;
    transform: translateY(calc(88% - 2px)) scaleX(0.85);
    transition-duration: .2s;
    z-index: -1; }
  p a::after,
  cite a::after,
  nav a::after {
    z-index: -1;
    transform: translateY(-100%);
    border-radius: 0 0 3px 3px; }
  p a:hover, p a:focus,
  cite a:hover,
  cite a:focus,
  nav a:hover,
  nav a:focus {
    transition-delay: .25s; }
    p a:hover::before, p a:hover::after, p a:focus::before, p a:focus::after,
    cite a:hover::before,
    cite a:hover::after,
    cite a:focus::before,
    cite a:focus::after,
    nav a:hover::before,
    nav a:hover::after,
    nav a:focus::before,
    nav a:focus::after {
      transform: translateX(0) scaleX(1); }
    p a:hover::before, p a:focus::before,
    cite a:hover::before,
    cite a:focus::before,
    nav a:hover::before,
    nav a:focus::before {
      transition-delay: .2s; }
    p a:hover::after, p a:focus::after,
    cite a:hover::after,
    cite a:focus::after,
    nav a:hover::after,
    nav a:focus::after {
      transition-delay: .3s; }
  .paint p a::before, .paint
  cite a::before, .paint
  nav a::before {
    border-color: #784ca5; }
  .paint p a::after, .paint
  cite a::after, .paint
  nav a::after {
    background: rgba(120, 76, 165, 0.7); }
  .paint p a:hover, .paint p a:focus, .paint
  cite a:hover, .paint
  cite a:focus, .paint
  nav a:hover, .paint
  nav a:focus {
    --shadow-color: #784ca5;
    color: #f9f9f9; }
  .worklets p a::before, .worklets
  cite a::before, .worklets
  nav a::before {
    border-color: #F4B766; }
  .worklets p a::after, .worklets
  cite a::after, .worklets
  nav a::after {
    background: rgba(244, 183, 102, 0.7); }
  .worklets p a:hover, .worklets p a:focus, .worklets
  cite a:hover, .worklets
  cite a:focus, .worklets
  nav a:hover, .worklets
  nav a:focus {
    --shadow-color: #F4B766;
    color: #272822; }
  .typed-om p a::before, .typed-om
  cite a::before, .typed-om
  nav a::before {
    border-color: #44A384; }
  .typed-om p a::after, .typed-om
  cite a::after, .typed-om
  nav a::after {
    background: rgba(68, 163, 132, 0.7); }
  .typed-om p a:hover, .typed-om p a:focus, .typed-om
  cite a:hover, .typed-om
  cite a:focus, .typed-om
  nav a:hover, .typed-om
  nav a:focus {
    --shadow-color: #44A384;
    color: #272822; }
  .props p a::before, .props
  cite a::before, .props
  nav a::before {
    border-color: #AF499C; }
  .props p a::after, .props
  cite a::after, .props
  nav a::after {
    background: rgba(175, 73, 156, 0.7); }
  .props p a:hover, .props p a:focus, .props
  cite a:hover, .props
  cite a:focus, .props
  nav a:hover, .props
  nav a:focus {
    --shadow-color: #AF499C;
    color: #f9f9f9; }
  .animation p a::before, .animation
  cite a::before, .animation
  nav a::before {
    border-color: #CBE961; }
  .animation p a::after, .animation
  cite a::after, .animation
  nav a::after {
    background: rgba(203, 233, 97, 0.7); }
  .animation p a:hover, .animation p a:focus, .animation
  cite a:hover, .animation
  cite a:focus, .animation
  nav a:hover, .animation
  nav a:focus {
    --shadow-color: #CBE961;
    color: #272822; }

.try-it-out {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  border: 3px dashed var(--prime-color);
  padding: .5em .75em; }
  @media (min-width: 66em) {
    .try-it-out {
      width: 70ch;
      margin-left: 10ch; } }

.body-footer {
  margin-top: 1em;
  background: #eee;
  --shadow-color: #eee; }

.me {
  font-size: .8rem;
  text-align: right; }

.blink,
.blink-2,
.blink-3 {
  animation: blink 1s steps(5, start) infinite;
  animation-delay: 0s; }

.blink-2 {
  animation-delay: .1s; }

.blink-3 {
  animation-delay: .2s; }

@keyframes blink {
  to {
    visibility: hidden; } }

/* Banner Component */
.banner {
  background-color: var(--banner-color);
  display: block;
  height: auto;
  min-height: 20vh;
  position: relative;
  background: transparent;
  z-index: 0;
  padding-top: calc(var(--arrow-height) + 1em);
  text-align: center;
  margin-top: calc(var(--arrow-height) * -1); }
  .banner::before, .banner::after {
    content: '';
    display: block;
    height: var(--arrow-height);
    width: 100%;
    border-style: solid;
    background-color: transparent;
    z-index: 5; }
  .banner::after {
    border-color: transparent var(--banner-color) transparent transparent;
    border-width: var(--arrow-height) 100vw 0 0;
    position: absolute;
    top: 1em; }
  .banner::before {
    border-color: transparent transparent var(--banner-color) transparent;
    border-width: 0 100vw var(--arrow-height) 0;
    height: var(--arrow-height);
    margin-top: calc(var(--arrow-height) * -1);
    position: relative;
    z-index: 5; }
  .banner p {
    max-width: 50ch;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.1em; }
  .banner--inner {
    background-color: var(--banner-color);
    padding-bottom: calc(var(--arrow-height) + 1em); }
  .banner.intro {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: calc(var(--arrow-height) - 5em); }
    .banner.intro::before, .banner.intro::after {
      bottom: 0;
      position: relative; }
    .banner.intro::after {
      border-color: transparent var(--banner-color) transparent transparent;
      border-width: 0 100vw var(--arrow-height) 0;
      top: 0;
      transform: rotateY(180deg) scaleX(0.5) translateX(-50%); }
    .banner.intro::before {
      border-color: transparent transparent transparent var(--banner-color);
      border-width: 0 0 var(--arrow-height) 100vw;
      transform: rotateY(180deg) scaleX(0.5) translateX(50%);
      position: absolute; }
    .banner.intro .banner--inner {
      padding-bottom: 0; }

/* Title Component */
.title {
  text-align: center;
  line-height: 1;
  font-size: calc(2em + 10vw);
  padding: 2rem;
  margin: 0;
  word-break: break-word;
  color: currentColor;
  font-weight: normal; }
  .title a {
    color: currentColor;
    text-decoration: none;
    position: relative;
    vertical-align: top;
    text-shadow: 2px 2px var(--banner-color), -2px -2px var(--banner-color), -2px 2px var(--banner-color), 2px -2px var(--banner-color);
    z-index: 5;
    outline: none;
    display: inline-block; }
    .title a::after {
      background-color: currentColor;
      content: '';
      height: .05em;
      /*width: 50%;*/
      display: block;
      margin: 0 auto;
      top: -.08em;
      z-index: -1;
      position: relative;
      transition: transform .25s ease-in-out, top .25s ease-in-out; }
    .title a:hover::after, .title a:focus::after {
      transform: translateY(-1em);
      /*top: 0;*/ }

h2.title {
  font-size: calc(1.5em + 5vw);
  padding: 0; }

h3.title {
  font-size: calc(1em + 3vw);
  padding: 0; }

@media (min-width: 64.6875em) {
  .title {
    font-size: 9rem; }
  h2.title {
    font-size: 5.125rem; }
  h3.title {
    font-size: 3.1875rem; } }
