.repl {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 300px;
  padding: .5em 1em;
  width: 100vw;
}

.repl--container {
  display: grid;
  grid-column: 1 / span 1;
  grid-gap: 0;
  grid-row: 2 / span 1;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: auto auto 300px;
  position: relative;
}

.repl--title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 0;
  padding: 0;
}

.repl--features {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 0;
  padding: 0;
}

.repl--switcher {
  --switcher-bkg: #272822;
  -webkit-appearance: unset;
  align-self: end;
  background-image: paint(replswitcher);
  border-radius: 5px 5px 0 0;
  border: 0;
  bottom: -.7rem;
  color: #f8f8f2;
  font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-size: 1em;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  height: 2rem;
  line-height: 1.618;
  padding: .25em .5em;
  padding-left: 1.5em;
  padding-right: 2em;
  position: absolute;
  right: 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  width: 8rem;
}

.repl--editor {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.repl--preview {
  grid-column: 1 / span 1;
  height: 300px;
  width: 100%;
}
